<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>Add Bot Manager</title>
    <link rel="stylesheet" href="/css/addbot-style.css?v=<%= Time.utc.to_unix %>">
</head>
<body>
    <div class="container">
        <div class="left-column">
            <iframe src="/viewer.html?v=<%= Time.utc.to_unix %>" class="viewer-frame"></iframe>
            <div class="counter-controls">
                <button id="minus-btn">-</button>
                <div id="counter" class="counter">0</div>
                <button id="plus-btn">+</button>
            </div>
        </div>
        <div class="right-column">
            <div id="bots">
                <!-- Les iframes de bot seront ajoutés ici dynamiquement -->
            </div>
        </div>
    </div>
    <script src="/js/addbot-manager.js?v=<%= Time.utc.to_unix %>"></script>
</body>
</html> 